{% extends 'safarisapp/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'safarisapp/car.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'safarisapp/cardetails.css' %}">
    <title>Car Detail </title>
{% endblock links %}

<div class="replace">
    {% block detail %}
    <div id="body-alt">
        <main>
            <div class="container-detail ">
                <div class="car-image">
                    <h2> {{object.name}}</h2>
                    
                    <img src="{{ object.image.url }}" alt="image of car" width="400">
                </div>
                <div class="features">
                    <div class="ft-container">
                        <div class="ft1">
                            <h5>Car Features</h5>
                                    <li><i class="fa fa-info" aria-hidden="true"></i>Model:{{object.model}}</li>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>Milage:{{object.milage}}</li>
                                    <li><i class="fa fa-modx" aria-hidden="true"></i>Seater:{{object.seater}}</li>
                                    <li><i class="fa fa-suitcase" aria-hidden="true"></i> Lugage:{{object.lugage}}</li>
                                    {% if post.airconditioner  == 1 %}
                                        <li><i class="fa fa-snowflake-o" aria-hidden="true"></i>Air Conditioning: Present</li>
                                    {% elif post.automatic  == 1 %}
                                        <li><i class="fa fa-cogs" aria-hidden="true"></i>Automatic: Present</li>
                                    {% else %}
                                        <li><i class="fa fa-snowflake-o" aria-hidden="true"></i>Air Conditioning: None</li>
                                        <li><i class="fa fa-cogs" aria-hidden="true"></i>Automatic: None</li>
                                    {% endif %}
                        </div>
                        <div class="ft2">
                            <h5>More</h5>
                            <li><i class="fa fa-tint fax2" aria-hidden="true"></i>{{object.fuelpolicy}}</li>
                            
                        </div>
                    </div>
                    
                </div>
                <div class="policy">
                    <div class="pol">
                        <div class="p1">
                            <h5>Policy when renting</h5>
                            {{object.carpolicy}}
                        </div>
                        <div class="p2">
                            <button><a href="#down">Book Now</a></button>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
        <section>
            <div class="form-to-fill" id="down">
                <form action="{% url 'user-booking' %}" method="POST">
                    {% csrf_token %}
                    <h2>Your Booking Details</h2>
                    <div class="detail">
                        <input type="text" name="First_Name" placeholder="First Name">
                        <input type="text" name="Second_Name" placeholder="Second Name">
                    </div>
                    <div class="car-to-rent">
                        <label for="avail-cars">Chose the car you are intrested in</label><br>
                        <select name="cars-available" id="avail-cars">
                            <option value="">**Please choose an option**</option>
                            <option value="{{ object.name }}">{{ object.name }}</option>
                        </select>
                    </div>
                    <div class="id cred">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <input type="text" name="ID_No" placeholder="ID/Passport Number" required>
                        
                    </div>
                    <div class="email cred">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="email" name="Email" placeholder="Enter Your Email" required>
                    </div>
                    <div class="contact cred">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <input type="tel" name="Contact" placeholder="Enter Your Contact" required>
                    </div>
                    <div class="booking-period">
                        <label for="p-from">From</label>
                        <input type="date" name="Booking_from" placeholder="Rent From" id="p-from">
                        <label for="p-to">To</label>
                        <input type="date" name="Booking_to" placeholder="Return Date" id="p-to">
                    </div>
                    <div class="price">
                        <label for="rent-period">Total Cost for Period</label>
                        <p>
                            15,000
                        </p>
                    </div>
                    <button type="submit">Book Now</button>
                </form>
                
            </div>
            <div class="summary" id="test">
                <div class="ndbox">
                    <h2>
                        Summary of Booking
                    </h2>
                    {% if First_Name%}
                        <p>
                            <li>{{First_Name}} {{Second_Name}}</li>
                            <li>Booked {{carpicked}} model {{object.model}}</li>
                            <li>From {{Booking_from}} to {{Booking_to}} </li>
                            <li>Contact {{Contact}}</li>
                            <li>Email: {{Email}}</li>
                            <li>ID/Passport no {{ID_No}}</li>
                            
                        </p>
                    {% else %}
                        Summary of purchase
                    {% endif  %}
                    
                </div>
                
            </div>
            <div class="payment">
                <div class="rdbox">
                    <h2>Make Payment</h2>
                </div>
            </div>
        </section>
    </div>
    {% endblock detail %}
    {% block content %}
        <!--
            none
        -->
    {% endblock content %}
</div>
