{% load static %}
<!DOCTYPE html>
<head>
	<title>UmarSafaris Contact</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'safarisapp/assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'safarisapp/assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'safarisapp/assets/css/templatemo_style.css' %}" type="text/css">
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Umar</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">Safaris</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">Umar</h1>	
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
					<li><a href="{% url 'home' %}"><i class="fa fa-home fa-medium"></i>Home</a></li>
					<li><a href="{% url 'car' %}"><i class="fa fa-car fa-medium"></i>Cars</a></li>
					<li><a href="{% url 'apartments' %}"><i class="fa fa-bed fa-medium"></i>Apartments</a></li>
					<li><a href="{% url 'testimonial' %}"><i class="fa fa-comments-o fa-medium"></i>Feed Back</a></li>
					<li><a href="{% url 'about' %}"><i class="fa fa-gears fa-medium"></i>About Us</a></li>
					<li><a href="{% url 'contact' %}" class="active"><i class="fa fa-envelope-o fa-medium"></i>Contact Us</a></li>
				</ul>
			</div>
		</div> <!-- left section -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">Safaris</h1>
			<div class="tm-right-inner-container">
				<h1 class="templatemo-header">Contact</h1>
				<div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div id="map-canvas"></div>
                        <address>
							<strong>Umar Safaris</strong><br>
							180 Aenean Quis Semper<br>
							Maecenas Adipiscing, Feugiat 10450<br><br>
							Phone: 010-060-0160<br>
							Email: umarsafariskenya01@gmail.com<br><br>
						</address>
                    </div>

                    <div class="col-sm-12 col-md-12">
            			<form action="{% url 'contact' %}" method="POST">
							{% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="fname" id="contact_name" class="form-control" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" id="contact_email" class="form-control" placeholder="Email Address" />
                            </div>
							<div class="form-group">
                                <input type="text" name="tel" id="contact_email" class="form-control" placeholder="Phone No." />
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" id="contact_subject" class="form-control" placeholder="Please enter Subject for quick response" />
                            </div>
                            <div class="form-group">
                                <textarea id="contact_message" name="message" class="form-control" rows="9" placeholder="Write a message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-warning">Send</button>

                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; UmarSafaris2021</p>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-social">
						<a href="#"><i class="fa fa-facebook fa-medium"></i></a>
						<a href="#"><i class="fa fa-twitter fa-medium"></i></a>
						<a href="#"><i class="fa fa-google-plus fa-medium"></i></a>
						<a href="#"><i class="fa fa-youtube fa-medium"></i></a>
						<a href="#"><i class="fa fa-linkedin fa-medium"></i></a>
					</p>
				</footer>
			</div>	
		</div> <!-- right section -->
	</div>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript">
		var map = '';
		var center;

		function initialize() {
		    var mapOptions = {
				zoom: 16,
		    	center: new google.maps.LatLng(16.8496189,96.1288854)
		  	};
		  	map = new google.maps.Map(document.getElementById('map-canvas'),  mapOptions);
		  	google.maps.event.addDomListener(map, 'idle', function() {
					calculateCenter();
			});
			
			google.maps.event.addDomListener(window, 'resize', function() {
				map.setCenter(center);
			});
		}

		function calculateCenter() {
			center = map.getCenter();
		}

		function loadGoogleMap(){
		    // load google map
		    var script = document.createElement('script');
		    script.type = 'text/javascript';
		    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
		    'callback=initialize';
		    document.body.appendChild(script);
		}

		$(document).ready( function() {
			loadGoogleMap();
		});

	</script>	
</body>
</html>