{% load static %}
<!DOCTYPE html>
<head>
	<title>UmarSafaris Contact</title>
	<meta name="keywords" content="travel, book, airbnb, apartments, cars, prado, umar, safaris, umarsafaris" />
	<meta name="description" content="This page contains  umarsafaris contact information" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'safarisapp/assets/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'safarisapp/assets/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'safarisapp/assets/css/templatemo_style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'safarisapp/assets/css/templatemo_style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'safarisapp/cars.css' %}">
	<link rel="stylesheet" href="{% static 'safarisapp/assets/css/icon.css' %}" type="text/css">
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Umar</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">Safaris</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">Umar</h1>
			<div class="mobile" id="small-nav " >
				<i class="fa fa-bars fa-3x" aria-hidden="true" onclick="displaymenu()" id="open-now"></i>
				<input type="checkbox" id="checked-now">
				<i class="fa fa-times fa-3x" aria-hidden="true" onclick="closemenu()" id="close-now"></i>
			</div>	
			<div class="tm-left-inner-container" id="menubar">
				<ul class="nav nav-stacked templatemo-nav" >
					<li><a href="{% url 'home' %}"><i class="fa fa-home fa-medium"></i>Home</a></li>
					<li><a href="{% url 'car' %}"><i class="fa fa-car fa-medium"></i>Cars</a></li>
					<li><a href="{% url 'apartments' %}"><i class="fa fa-bed fa-medium"></i>Apartments</a></li>
					<li><a href="{% url 'testimonial' %}"><i class="fa fa-comments-o fa-medium"></i>Feed Back</a></li>
					<li><a href="{% url 'about' %}"><i class="fa fa-gears fa-medium"></i>About Us</a></li>
					<li><a href="{% url 'contact' %}" class="active"><i class="fa fa-envelope-o fa-medium"></i>Contact Us</a></li>
				</ul>
			</div>
		</div> <!-- left section -->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">Safaris</h1>
			<div class="tm-right-inner-container">
				<h1 class="templatemo-header">Contact</h1>
				<div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div id="map-canvas">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31910.512857174384!2d36.77978984768027!3d-1.285532739990881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a0dfd90fa55%3A0x37f5057a6f21bc7c!2sKilimani%2C%20Nairobi!5e0!3m2!1sen!2ske!4v1621186310997!5m2!1sen!2ske"  style="border:0; min-width:300px" allowfullscreen="" loading="lazy"></iframe>
						</div>
                        <address>
							<strong>Umar Safaris</strong><br>
							Kisumu Nairobi Mombasa<br><br>
							Phone: 254-060-0160<br>
							Email: umarsafariskenya@gmail.com<br><br>
						</address>
                    </div>
                    <div class="col-sm-12 col-md-12">
            			<form action="{% url 'contact' %}" method="POST">
							{% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="fname" id="contact_name" class="form-control" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" id="contact_email" class="form-control" placeholder="Email Address" />
                            </div>
							<div class="form-group">
                                <input type="text" name="tel" id="contact_email" class="form-control" placeholder="Phone No." />
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" id="contact_subject" class="form-control" placeholder="Please enter Subject for quick response" />
                            </div>
                            <div class="form-group">
                                <textarea id="contact_message" name="message" class="form-control" rows="9" placeholder="Write a message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-warning">Send</button>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; UmarSafaris2021</p>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-social footico">
						<a href="#"><i class="fa fa-facebook fa-medium"></i></a>
						<a href="https://instagram.com/umarsafaris.kenya?utm_medium=copy_link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter fa-medium"></i></a>
						<a href="{% url 'contact' %}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
					</p>
				</footer>
			</div>	
		</div> <!-- right section -->
	</div>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script>
        function displaymenu(){
            var boxcheck = document.getElementById('checked-now').checked 
            ul =document.getElementById('menubar')
            ul.style.display = "block"
            x = document.getElementById('open-now')
            x.style.display = "none"
            i = document.getElementById('close-now')
            i.style.display = "block"
            i.style.color = "#000000"
        }
        function closemenu(){
            document.getElementById('checked-now').checked = false
            ul =document.getElementById('menubar')
            ul.style.display = "none"
            i = document.getElementById('close-now')
            i.style.display = "none"
            x = document.getElementById('open-now')
            x.style.display = "flex"
        }
        
    </script>
</body>
</html>