{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Umar Safaris</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="travel, book, airbnb, apartments, cars, prado, umar, safaris, umarsafaris" />
		<meta name="description" content="This is the main page umarsafaris" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'safarisapp/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'safarisapp/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Banner -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Umar Safaris</h1>
							<p class="major">Feel the difference when you're rolling, whatever the conditions it is you won't get stuck <a href="#gal">😋</a>. Let the breeze find you at the balcony of your room only at<a href="{% url 'about' %}"> Umar Safaris</a>.</p>
							<p>This is a <strong>Fleet of Luxurious</strong> vehicles, available and ready to take you wherevere you wanna be. Book your ride now!!!  <br>
								
								Remember we are better together😍😍 </p>
							<ul class="actions stacked">
								<li><a href="#first" class="button large wide smooth-scroll-middle">Cars</a></li>
								<li><a href="#apt" class="button large wide smooth-scroll-middle">Apartments</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../../static/safarisapp/images/banner.jpg" alt="" />
						</div>
					</section>
				<!-- Cars -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Elite Cars</h2>
							<p>	At  <strong>Umar Safaris</strong> client experience is what matters to us, <br>
								feel the ride &ndash; make the memories &ndash; take the pictures as you roll, and enjoy the ride.</p>
							<ul class="actions stacked">
								<li><a href="{% url 'car' %}" class="button">More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../../static/safarisapp/images/car1.jpg" alt="" />
						</div>
					</section>
				<!-- Apartments -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="apt">
						<div class="content">
							<h2>Apartments</h2>
							<p>Umar Safaris has <strong>Comfy Apartments</strong> that run at affordable rates for both individuals, couples, family etc. <br>
								
							<ul class="actions stacked">
								<li><a href="{% url 'apartments' %}" class="button">More</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="../../static/safarisapp/images/home.jpg" alt="" />
						</div>
					</section>
				<!-- Gallery -->
					<section class="wrapper style1 align-center" id="gal">
						<div class="inner">
							<h2>Gallery</h2>
							<p>Fill our online <strong>Gallery</strong> with those fantastic photos you took.Let's relive your umar safaris moments. 
                                Hope to see you soon again. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi asp
                                eriores, doloremque saepe, q
                                uis molestias totam fugiat corporis possimus eligendi vero sint cupiditate, officiis dolor fa
                                cere. Dolores perferendis vel ipsum nostrum.</p>
						</div>
						<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/03.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/03.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/01.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/01.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/03.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/03.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/04.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/04.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/05.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/05.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/06.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/06.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/07.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/07.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/08.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/08.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/09.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/09.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/10.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/10.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/11.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/11.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="../../static/safarisapp/images/gallery/fulls/12.jpg" class="image">
										<img src="../../static/safarisapp/images/gallery/thumbs/12.jpg" alt="" />
									</a>
									<div class="caption">
										<h3>Title</h3>
										<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
										<ul class="actions fixed">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
							</div>
					</section>
				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://twitter.com/?lang=en" target="_blank" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.facebook.com/" target="_blank" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://www.instagram.com/umarsafaris.kenya/?utm_medium=copy_link" target="_blank" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="{% url 'contact' %}" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy;UmarSafaris2021.</p>
						</div>
					</footer>
			</div>

		<!-- Scripts -->
        <link rel="stylesheet" type="text/css" href="{% static 'safarisapp/assets/' %}">
			<script src="{% static 'safarisapp/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'safarisapp/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'safarisapp/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'safarisapp/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'safarisapp/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'safarisapp/assets/assets/js/util.js' %}"></script>
			<script src="{% static 'safarisapp/assets/js/main.js' %}"></script>
	</body>
</html>
