@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#header {

    background: #001514;
    color: #fff;
}

#branding h1 {
    color: #ffffff;
}

div.breadcrumbs {
    color: #fff;
    background: #009688;
}

body {

    color: #333;
    background: linear-gradient(315deg, #FAFAFF, #ffffff);
}

.module h2, .module caption, .inline-group h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    background: #ffc107;
}

#changelist-filter h2{
    background: #009688;
}

a:link, a:visited {
    color: #031926; 
}